<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Reset Passwort
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
<ion-list>

    <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input class="no-color" [(ngModel)]="email" type="email" required></ion-input>
        <div class="error" *ngIf="emailerror==true">
                Email muss eingegeben werden.
        </div>
    </ion-item>

    <ion-item>
        <button ion-button block outline large (click)="onNext()" [disabled]="disableButton()">Continue</button>
      
    </ion-item>
</ion-list>

<button styles="padding-top:10px; border-top:0px" class="link" (click)="navToRegister()">Registrieren</button>

<!--<ion-grid>
    <ion-row>
        <ion-col width-50>
            <button ion-button clear small (click)="navToRegister()">Sign up</button>
        </ion-col>
        <ion-col width-50>
            <button ion-button clear small (click)="navToLogin()">Login</button>
        </ion-col>
    </ion-row>
</ion-grid>-->
</ion-content>