resend-code {
    ion-content {
        font: 100% $font-stack;
        background-color:  #f4f4f4e7!important;
       /* background-color:$primary-color  !important;*/
      }
      .scroll-content{
        justify-content: center;
        display: flex!important;
        align-items: center!important;
        flex-direction: column;
      }
      ion-item{
        background-color:  #f4f4f4e7!important;
        color:$menu-color!important;
      /*  background-color: $primary-color  !important;
        color: $sandy-brown!important;*/
        justify-content: center;
      }
    /*  ion-list .item .item-inner :focus{ border-bottom: 1px solid white; }
      ion-list .item .item-inner :valid{ border-bottom: 1px solid white; }*/
      ion-item:focus{
        border-bottom: 0px!important;
      }
      .noBorder{
        border-top:0px!important;
        border-bottom:0px!important;
        display: flex!important;
        flex-direction: column;
        border-bottom:0px!important;
        color:$menu-color;
      /*  color:white;*/
        justify-content:left;
      }
      .noBorder :focus-visible{
        border-bottom-color: white;
      }
    
      input{
        color:$menu-color!important;
      }
      .text{
        padding-left: 0em;
        color:$menu-color!important;
        font-size: 12px;
      }
        a{
          color: $menu-color!important;
          text-decoration-line: underline;
        }
      .toolbar-background-md{
        font: 100% $font-stack;
        background-color: $menu-color!important;
        
      }
      button{
        border-color: $sandy-brown!important;
        color: $sandy-brown!important;
        background-color: $menu-color!important;
        margin-top: 10px!important;
      }
      button.link{
        background-color: #f4f4f4e7!important;
        text-decoration-line: underline;
      }
      .toolbar-title-md{
        color: $sandy-brown!important;
        display:flex;
        justify-content: center;
      }
      ion-label{
        padding-left: 2em;
        color: $sandy-brown!important;
      }
}
